ws-parent/ws-interface/src/main/webapp/wsdl/fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nl.hu.fnt.gsos/ClimatService/fault"
	targetNamespace="http://nl.hu.fnt.gsos/ClimatService/fault"
	elementFormDefault="qualified">
	<xsd:element name="fault">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="errorCode" type="xsd:short" nillable="false" />
				<xsd:element name="message" type="xsd:string" minOccurs="0"
					maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>